/*Fonts Nuevos*/
@font-face {
    font-family: 'Kaftan Serif';
    src: url('Kaftan-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCWhyte';
    src: url('ABCWhyte-Light-Trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  padding: 40px 0;
  color: #333;
  border-bottom: 1px solid rgb(51, 51, 51, 0.5);
}

header h1 {
    font-family: 'Kaftan Serif', sans-serif;
    color: #333;
    font-size: 32px;
    margin: 0;
    font-style: bold;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}

header nav a:hover {
    color: #b39bc1;
}

/* Estilo base del body */
body {
  font-family: 'ABCWhyte', sans-serif;
  color: #333;
  background-color: #e8e4e4;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 100px;
}

/* Navbar similar a la principal */
.navbar {
    background-color: #b39bc1 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
}

.navbar-brand {
    font-size: 24px;
    color: white !important;
}

/* Contenedor de búsqueda similar */
form#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
    gap: 10px;
    margin-top: 80px;
}

#formulario input[type="text"] {
    flex: 1;
    padding: 13px 10px 13px 40px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#formulario button {
    padding: 10px 25px;
    background-color: #b39bc1;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

#formulario button:hover {
    transform: scale(1.1);
}

/* Resultados de eventos (puedes adaptar según cómo cargues los eventos) */
#resultados-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-evento {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-evento:hover {
    transform: scale(1.03);
}
.footer-logo {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}
.footer-logo img {
  height: 70px;
  object-fit: contain;
}
.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 250px;          
  object-fit: cover;
  width: 100%;
}

#resultados-container .col-md-12 {
  max-width: 700px;
  margin: 0 auto;
}